.events {
  height: 100%;
  width: 100vw;
  color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.rowing-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  position: absolute;
  left: 21%;
  top: 5%;
}

.events-container {
  margin: 250px 0 100px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.event-info-container {
  display: flex;
  align-items: center;

  width: 750px;
  gap: 50px;
  object-fit: cover;
}

.event-info-container:nth-child(odd) .event-img {
  order: 1;
}
.event-info-container:nth-child(odd) .event-info {
  order: 2;
}

.event-info-container:nth-child(even) .event-img {
  order: 2;
}
.event-info-container:nth-child(even) .event-info {
  order: 1;
}

.event-img {
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.views-container {
  display: flex;
  font-size: 12px;
  gap: 40px;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-info {
  height: 200px;

  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.btn-prices {
  display: flex;
  gap: 20px;
  align-items: center;
}

.event-price {
  font-size: 14px;
}

.event-header,
.rowing-txt {
  font-size: 18px;
  color: black;
}
.event-text {
  font-size: 12px;
}
.leaf1 {
  top: 30%;
  left: 10%;
}

.leaf {
  position: absolute;
  height: 100px;
  width: 100px;
  filter: drop-shadow(10px 0px 10px rgb(114, 114, 114));
}
.leaf2 {
  top: 60%;
  right: 10%;
}

.rowing {
  height: 60px;
  width: 60px;
  transform: rotate(50deg);
  opacity: 0.6;
}
