.home {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../src/assets/img3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.home::after,
#cta,
.home-container {
  z-index: inherit;
}

.home::after {
  content: "Camping Lac Saint-Michel";
  position: absolute;
  transform: rotate(270deg);
  left: 0;
  color: white;
  font-size: 14px;
}

.home-container {
  margin-top: 20px;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.home-txt {
  text-align: center;
  font-size: 14px;
}

.home-btn {
  width: 150px;
  height: 40px;
  z-index: 7;
  border: none;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
#cta {
  position: absolute;
  bottom: 35px;
  transform: translateY(50px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.home-price {
  color: white;
  font-size: 14px;
}
.blur-bottom {
  position: absolute;
  z-index: 5;
  bottom: -15%;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}
