.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 15;
  transition: all 2s ease;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  &:hover {
    color: rgb(63, 140, 240);
  }
}

.nav-header {
  font-size: 24px;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 50px; /* Reduce padding for smaller screens */
  }

  .nav-header {
    font-size: 20px; /* Smaller font size */
  }

  .links {
    gap: 20px; /* Reduce gap between links */
  }

  .nav-link {
    font-size: 16px; /* Smaller text size for nav links */
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column; /* Stack the items vertically */
    padding: 10px 20px; /* Further reduce padding */
  }

  .links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-header {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .nav-link {
    font-size: 14px;
  }
}
