.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 5;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;

  &:hover {
    color: rgb(46, 46, 199);
  }
}

.nav-header {
  font-size: 24px;
  color: white;
}
